[user]
    name = tom-shimoda
    email = tom-shimoda@example.com
[core]
    autocrlf = input
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse
    navigate = true  # use n and N to move between diff sections
[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
[lfs]
    concurrenttransfers = 128
[filter "lfs"]
    ; macの場合git-lfsのパスを正しく設定しないと"git-lfs: command not found"エラーが出てしまうことがあるので、which git-lfsのパスを設定する。
    ; リポジトリ毎のconfigにもgit-lfsの記述があったりするので、その場合はglobal configが参照されずにnot foundが出るので注意。
    ; [参考](https://jp.mathworks.com/matlabcentral/answers/1984409-how-do-i-fix-git-lfs-command-not-found-on-macos)
	process = /opt/homebrew/bin/git-lfs filter-process
	required = true
	clean = /opt/homebrew/bin/git-lfs clean -- %f
	smudge = /opt/homebrew/bin/git-lfs smudge -- %f
[pull]
	rebase = false
